// Breakpoints

$width-desktop: 144rem;
$width-tablet: 76.8rem;
$width-mobile: 42.5rem;

// Colors

$color-black: #000000;
$color-default: #16161d;
$color-shadow: #bebebe;
$color-main: #20C997;

// Sizes

$logo-size: 6.4rem;
$safe-margin-size: 1.5rem;
$internal-vertical-indent-size: 2rem;